@model MoviedbMVC5.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>Movies</p>
@*This how you render content dynamically*@
@{
    if (Model.Customer != null)
    {
        var className = Model.Customer.Count > 0 ? "popular" : null;

        <h2 class="@className"></h2>
    }

}

@if (Model.Customer.Count == 0)
{
    <p>No one has rented this movie before.</p>
}
else
{
    <ul>
        @foreach (var item in Model.Movie)
        {
            <li>@item.name</li>
        }
    </ul>
}

