@model MoviedbMVC5.Models.Customer


<h3>@ViewBag.Message</h3>

<table class="table">
    <tr>
        <th>
            Customers Movies
        </th>
        
    </tr>
    @if (Model != null)
    {
        
    }

</table>



