@model MoviedbMVC5.ViewModels.RandomMovieViewModel


<h3>@ViewBag.Message</h3>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Customers Movies", "Customers")
        </th>
        <th>Customers</th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model.Customer)
        {
            <tr>
                <td>
                    <li>
                        <a href="/Customer/Index">Customers</a>
                    </li>
                </td>
                <td>
                    
                </td>
            </tr>
        }
    }

</table>

